/* @import "https://davidar.github.io/linja-pona/stylesheet.css"; /* for sitelen pona */

:root {
    --text-color:         rgb(69, 46, 71);
    --link-color:         rgb(63, 29, 78);
    --clicked-link-color: rgb(105, 24, 151);
    --fancy-text:         rgb(32, 67, 170);
    --box-background:      rgb(210, 171, 221);
    
    --body-font-size: 2rem;
    --h2-font-size: 3.6rem;
}

@font-face {
    font-family: "AveriaSerifLibre";
    src: url('/fonts/AveriaSerifLibre-Regular.ttf');
}
/* 
@font-face {
    font-family: "UnderwoodTypewriter";
    src: url('/fonts/zai_Olivetti-UnderwoodStudio21Typewriter.otf');
} */

body {
    background-color: rgb(180, 126, 151);
    color: var(--text-color);
    font-family: "AveriaSerifLibre", "Averia Serif Libre", "Cambria", serif;
}

ul {
    list-style-type: lower-greek;
    padding-left: none;
}

#paper-texture {
    opacity: 0.25;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    /*min-width: 100%;*/
    /* makes unable to drag: */
    /* user-drag: none;  */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

.menu-bar {
    padding: 3rem 0 7rem 0;
}

h1 {
    height: 2.1em;
    line-height: 100px;
    text-align: center;
    color: var(--fancy-text);
    text-shadow: 0 0 3px color-mix(in hsl, var(--fancy-text), purple);
    /* font-family: "UnderwoodTypewriter", "zai Olivetti-Underwood Studio 21 Typewriter", "Cambria", serif; */
}

.subtitle {
    color: color-mix(in hsl, var(--fancy-text), gray);
    text-shadow: 0 0 1px purple;
    text-align: center;
    font-size: var(--body-font-size);
    display: block;
    margin-top: -2em;
}

a.button {
    padding-top: 1rem;
    line-height: 100px;
    text-align: center;
    color: var(--clicked-link-color);
    font-size: var(--body-font-size);
    text-transform: lowercase;
    text-shadow: 0 0 1px var(--clicked-link-color);
}

a {
    color: var(--clicked-link-color);
    text-decoration: dashed underline;
}

.body-text {
    background-color: rgba(252, 216, 255, 0.829);
    font-size: var(--body-font-size);
    text-align: justify;
    padding: 1em;
}

a#current-page {
    text-transform: uppercase;
    text-decoration: underline;
    /* color: color-mix() */
}

hr {
    border: 1px solid var(--text-color);
}

.beeper {
    padding: 1rem 0 !important;
    image-rendering: pixelated;
}

.socialcontainer {
    display: flex;
    margin-bottom: 1em;
}

.social {
    background-color: var(--box-background);
    padding: 2rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 3px color-mix(in hsl, var(--box-background), purple);
}

.social img {
    height: 1em;
}

/* @media (min-width: 40rem) {
    img[src~="construction.gif"] {
        display: none;
    }
} */

@font-face {
    font-family: "linja-lipamanka";
    src: url("/fonts/linjalipamanka-normal.otf");
}

.sitelen-pona {
    font-size: calc(var(--body-font-size) + 1.2rem);
    font-family: "linja lipamanka", "linja-lipamanka";
    font-feature-settings: "liga" 1, "clig" 1, "calt" 1, "kern" 1, "mark" 1;
    text-rendering: optimizeLegibility;
}

.sitelen-pona h2 {
    font-size: calc(var(--h2-font-size) + 2rem);
    line-height: normal;
}

.sitelen-pona sup {
    font-family: "AveriaSerifLibre", "Averia Serif Libre", "Cambria", serif;
}